<h2>Hola soy la pagina de galeria</h2>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus placeat, a tenetur saepe, officia alias beatae accusantium reiciendis consectetur possimus minus optio quisquam nostrum fuga excepturi quibusdam eligendi corporis sit.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum asperiores eius ratione sed suscipit non voluptas totam assumenda accusantium at iusto voluptates illo mollitia saepe placeat iste, adipisci nostrum sunt!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia debitis animi excepturi perspiciatis aspernatur veniam, praesentium impedit eius quibusdam? Cum atque fuga quisquam, laborum nihil totam illum voluptatum iusto explicabo.</p>