
<h2>Hola soy la pagina index</h2>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque omnis facere doloremque adipisci et dolores reprehenderit quam, sunt voluptate iste fuga corporis sapiente hic quis, mollitia magnam nemo alias natus.</p>
